/data
.DS_Store
*/*/.DS_Store
chameleon/inference/.DS_Store

__pycache__/
*.pyc
**/__pycache__
/outputs

/viewer
sftp-config.json
/generated_images
# scripts/sensei
/config
scripts/create_data/retrieve
create_training_data/retrieve_negative/download_random_images.py